:root {
  --primary-color: #071319;
  --btn-hover-color: rgb(255, 196, 0);
  --text-black-color: black;
  --text-white-color: white;
  --text-prize-color: #e1a02e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 65.5%;
  background-color: var(--primary-color);
}

/* app component */
.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.left-column {
  display: grid;
  gap: 1rem;
  grid-template-rows: 50% 10% 35%;
}

.right-column {
  display: grid;
  gap: 1rem;
  grid-template-rows: 70% 30%;
}

/* icon component */
.icon{
  width: 100%;
  height: 100%;
  text-align: center;
}

.logo {
  width: 47em;
  height: 100%;
}

/* timer component */
.timer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.count-down{
  font-size: 3rem;
  color: var(--text-white-color);
  font-weight: bold;
  border: 2px solid var(--text-white-color);
  padding: 1rem 1.5rem;
  border-radius: 50%;
}

/* question component */
.question{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 1rem;
  gap: 1rem;
}

.main-question{
  grid-column: span 2;
  font-size: 2.2rem;
  color: var(--text-white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--text-white-color);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.answer{
  font-size: 2.2rem;
  color: var(--text-white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--text-white-color);
  background-color: var(--primary-color);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
  transition: all .3s;
  border-radius: 5px;
}

.answer:hover {
  cursor: pointer;
  color: var(--text-black-color);
  background-color: var(--btn-hover-color);
  box-shadow: none;
}

/* prize component */
.prize{
  display: flex;
  justify-content: center;
  align-items: center;
}

.prize-text{
  color: var(--text-prize-color);
  font-size: 2rem;
  padding: .1rem 2rem;
}

.prize-save{
  color: var(--text-white-color);
}

.prize-running{
  background-color: var(--btn-hover-color);
  color: var(--text-black-color);
  border-radius: 5px;
}

/* option component */
.option{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2rem;
}

.option-three{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.option-three button{
  padding: 1rem 1rem;
  border-radius: 100px;
  background-color: rgb(25, 25, 126);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--btn-hover-color);
  transition: all .3s;
}

.option-three button:hover{
  cursor: pointer;
  background-color: rgb(19, 19, 99);
}

.creator{
  font-size: 1.6rem;
  color: var(--text-white-color);
}